.container {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  color: #d1d1d1;
  background-color: transparent;
  height: calc(100vh - 110px);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #cf9b31 #1e1e1e;
}

.heading {
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 2rem;
  flex-grow: 1;
}

.card {
  padding: 1.5rem;
  border: 0.5px solid rgb(37, 44, 54);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title,
.commits,
.button {
  font-size: 1rem;
  font-weight: normal;
}

.title {
  color: #cf9b31;
}

.commits {
  color: #2f3743;
}

.codeBlock {
  padding: 1rem;
  border-radius: 8px;
  white-space: pre-wrap; /* Preserve whitespace and wrap as needed */
  word-break: break-word; /* Ensure long words break correctly */
  flex-grow: 1;
  margin-bottom: 1rem; /* Add margin-bottom */
  font-size: 0.9rem;
  color: #4b5058;
  background-color: #0a0d12;
}

.codeBlock pre {
  margin: 0;
  white-space: pre-wrap; /* Ensure pre element wraps */
  word-break: break-word; /* Ensure long words break correctly */
}

.button {
  background-color: #cf9b31;
  color: #1e1e1e;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
  width: 100%;
  margin-top: 1.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem); /* Adjust the width to fill the space */
  padding-left: 1rem; /* Align text with code */
}

.button:hover {
  background-color: #ffaa00;
}

.description {
  color: #757c84;
  margin-top: 1rem;
}

.githubButton {
  background-color: transparent;
  color: #648d9a;
  border: 1px solid rgb(37, 44, 54);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  width: 30%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 3rem;
  text-align: center;
}

.githubButton:hover {
  background-color: #648d9a;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  .card {
    padding: 1rem;
  }

  .codeBlock {
    height: auto; /* Allow code block to expand */
    padding-bottom: 2.5rem; /* Ensure space for the button */
  }

  .button {
    position: static; /* Remove absolute positioning */
    width: calc(100% + 2rem); /* Ensure button spans full width */
    margin: 0 -1rem; /* Remove button padding */
  }

  .githubButton {
    text-align: center;
    width: 100%;
  }
}
