.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #d1d1d1;
  background-color: transparent;
  font-family: "Fira Code", monospace;
}

.heading {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  padding: 1.5rem;
  border: 1px solid #ffd700;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title,
.commits,
.codeBlock,
.button {
  font-size: 1rem;
}

.title {
  color: #ffd700;
}

.commits {
  color: #d1d1d1;
}

.codeBlock {
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #d1d1d1;
  background-color: transparent;
}

.codeBlock pre {
  margin: 0;
}

.button {
  background-color: #ffd700;
  color: #1e1e1e;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ffbb00;
}
