.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #d1d1d1;
  background-color: transparent;
  height: calc(100vh - 110px);
}

.heading {
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 2rem;
}

.card {
  padding: 1.5rem;
  border: 0.5px solid rgb(37, 44, 54);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title,
.commits,
.button {
  font-size: 1rem;
  font-weight: normal;
}

.title {
  color: #cf9b31;
}

.commits {
  color: #2f3743;
}

.codeBlock {
  padding: 1rem;
  border-radius: 8px;
  white-space: pre-wrap; /* Preserve whitespace and wrap as needed */
  word-break: break-word; /* Ensure long words break correctly */
  flex-grow: 1;
  margin-bottom: 1rem; /* Add margin-bottom */
  font-size: 0.9rem;
  color: #d1d1d1;
  background-color: #0a0d12;
}

.codeBlock pre {
  margin: 0;
  white-space: pre-wrap; /* Ensure pre element wraps */
  word-break: break-word; /* Ensure long words break correctly */
}

.button {
  background-color: #cf9b31;
  color: #1e1e1e;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ffaa00;
}

.description {
  color: #d1d1d1;
  margin-top: 1rem;
}

.githubButton {
  background-color: transparent;
  color: #3498db;
  border: 1px solid rgb(37, 44, 54);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 1rem;
}

.githubButton:hover {
  background-color: #3498db; /* Blue background on hover */
  color: #ffffff; /* White text color on hover */
}
